{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Admin Profile{% endblock %}

{% block content %}

<body>
    <h2>Admin Profile</h2>
    <form method="post" class="mt-4">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="mb-3">
            <label for="id_owner_gst" class="form-label">Owner GST</label>
            {{ form.owner_gst|add_class:'form-control' }}
        </div>
        <div class="mb-3">
            <label for="id_bank_account" class="form-label">Bank Account</label>
            {{ form.bank_account|add_class:'form-control' }}
        </div>
        <div class="mb-3">
            <label for="id_card" class="form-label">Card</label>
            {{ form.card|add_class:'form-control' }}
        </div>
        <div class="mb-3">
            <label for="id_contact" class="form-label">Mobile Number</label>
            {{ form.contact|add_class:'form-control' }}
        </div>
        <button type="submit" class="btn btn-success">Save Profile</button>
    </form>
</body>
</html>
{% endblock %}